@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(193, 100%, 96%);
    background: url('./images/bg-hero-mobile.svg');
    font-size: 18px;
    font-family: 'Open Sans';

}
header{
    width:100%;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 250px;
}
header img{
    height: 25px;
}
header button{
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-style: none;
    color: black;
    font-weight: bold;
    border-radius: 25px;
    margin-left: 80px;
    cursor: pointer;
}
.header{
    display: flex;

}
main{
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 45px;
    padding-bottom: 25px;
    margin: auto;
}
main .text{
    width: 70%;
    text-align: center;
    margin-left: 45px;
}
main .text h3{
    font-family: 'Poppins';
    font-weight: 600;
}
main .text p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: hsl(208, 11%, 55%);
    font-family: 'Poppins';
    font-weight: 400;
}
main button{
    background-color: hsl(322, 100%, 66%);
    color: white;
    margin-left: 85px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 45px;
    border-style: none;

}

main .box-1 img{
    height: 250px;
}
/** box-2 **/
.box-2{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
main .box-2 img{
    background-color: white;
    height: 250px;
}
main .box-2 h3{
    background-color: white;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 55px;
    margin-bottom: 15px;
}
main .box-2 p{
    color: hsl(208, 11%, 55%);
    font-family: 'Poppins';
    font-weight: 400;
    margin-top: 3px;
}
/** Box-2 ends here **/
/** box-3 **/
.box-3{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
main .box-3 img{
    background-color: white;
    height: 250px;
}
main .box-3 h3{
    background-color: white;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 55px;
    margin-bottom: 15px;
}
main .box-3 p{
    color: hsl(208, 11%, 55%);
    font-family: 'Poppins';
    font-weight: 400;
    margin-top: 3px;
}
/** Box-3 ends here **/
/** box-4**/
.box-4{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
main .box-4 img{
    background-color: white;
    height: 250px;
}
main .box-4 h3{
    background-color: white;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 55px;
    margin-bottom: 15px;
}
main .box-4 p{
    color: hsl(208, 11%, 55%);
    font-family: 'Poppins';
    font-weight: 400;
    margin-top: 3px;
}
/** Box-4 ends here **/

main .pop-box{
    background-color: white;
    border-radius: 13px;
    box-shadow: 0px 0px 2px 2px #888888;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    align-items: center;
    z-index: -1;
}
main .pop-box h3{
    width: 100%;
    font-family: 'Poppins';
    font-weight: 600;
}
main .pop-box button {
    background-color: hsl(322, 100%, 66%);
    width: 50%;
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 45px;
    border-style: none;

}
footer{
    background-color: hwb(192 0% 82%);
    color: hsl(193, 100%, 96%);
}
footer .footer-logo img{
    width: 200px;
    padding: 22px;
    margin-left: 2px;

}
footer .loc{
    display:flex;
    padding: 22px;
    margin-left: 2px;
}
footer .loc img{
    width: 20px;
    height: 20px;
    margin-right: 19px;
}
footer .phone{
    display:flex;
    padding: 22px;
    margin-left: 2px;
}
footer .phone img{
    width: 20px;
    height: 20px;
    margin-right: 19px;
}
footer .email{
    display:flex;
    padding: 22px;
    margin-left: 2px;
}
footer .email img{
    width: 20px;
    height: 20px;
    margin-right: 19px;
}
footer .about{
    padding: 22px;
    margin-left: 2px;
    line-height: 50px;
}
footer .about ul{
    list-style: none;
}
footer .sub-about{
    text-align: center;
}
footer  p{
   text-align: center;
   padding-top: 40px;
   padding-bottom: 90px;
}
.fb{ 
    border: solid;
    border-width: 1px;
    border-radius: 50%;
    padding : 5px;
    margin-right: 13px;    
}
.tw{ 
    border: solid;
    border-width: 1px;
    border-radius: 100%;
    padding : 5px;
    margin-right: 13px;    
}
.ig{ 
    border:solid;
    border-width: 1px;
    border-radius: 100%;
    padding : 5px;
    margin-right: 13px;    
}
.cr{
    font-size: small;
}
.crc{
    border:solid;
    border-radius: 100%;
    border-width: 1px;
    padding : 5px;
    margin-right: 13px;
    font-size: 7px;
}

